{% extends 'base.html'%}
{% load static %}
{% block title %}
privacypolicy
{% endblock %}
{% block childpage %}
<div class="text-center fs-1 p-3">
    Privacy <b class="txt-mycolor"><u> & Policy <i class="fa-solid fa-video"></i></u></b>
</div>
<div class="row pb-5 fs-5">
   <div class="col-lg-9 col-md-9 col-sm-9 mx-auto rounded border border-2 bg-light" style="font-family:justify;">
       Welcome to <b class="fs-3"><a href="/user/index/" class="txt-mycolor" style="text-decoration:none;">Tech Vikas</a></b> privacy policy (“Privacy Policy” or “Policy”).<br/>
       <p>This Policy outlines our practices in relation to the collection, storage, usage, processing, and disclosure of personal data that you have consented to share with us when you access, use, or otherwise interact with our Platform.</p>
       <p>By interacting with us, submitting information to us, or using the Platform, you confirm that you have read this Policy and consent to the collection, use, disclosure, and/or retention of your personal information in accordance with the processing activities described under this Policy.</p>
       <b class="txt-mycolor">1.PERSONAL DATA THAT WE COLLECT</b><br/>
       <p>(a) We collect different types of personal data about you. Personal data is information that relates to a natural person which, either directly or indirectly, or in combination with information that is available or likely to be available with us, is capable of identifying such person. This includes, but is not limited to:</p>
       <p><b class="txt-mycolor">(i) Contact Data</b> such as your mailing address, location, and email addresses.</p>
       <p><b class="txt-mycolor">(ii) Identity and Account Data</b> such as your name, username, or similar identifiers.</p>
       <p><b class="txt-mycolor">(iii) Marketing and Communications Data</b> such as your email address, information posted in service requests, feedback, responses to user surveys and polls, your preferences in receiving marketing communications from us and our third parties, and your communication preferences.</p>
       <p><b class="txt-mycolor">(iv) Technical Data</b> which includes your IP address, browser type, internet service provider, details of operating system, access time, page views, device ID, device type, frequency of visiting and using the Platform, website and mobile application activity, clicks, date and time stamps, location data, and other technology on the devices that you use to access the Platform.</p>
       <p><b class="txt-mycolor">(v) Usage Data</b> which includes information about how you use the Platform, your activity on the Platform, user taps and clicks, user interests, time spent on the Platform, details about user journey on the mobile application, and page views.</p>
       <b class="txt-mycolor">2.CHANGES TO OUR PRIVACY POLICY</b>
       <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
   </div>
</div>
{% endblock %}